{% extends 'base.html.twig' %}

{% block title %}
    Pogoda w Warszawie
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="weather-block">
            {% if weather.correct %}
                <div class="weather-info"><span class="description">Aktualna temperatura w Warszawie to:</span> <div class="value">{{ weather.temperature | number_format(2, ',', ' ') }} st. C.</div></div>
                <div class="weather-update"><span class="description">Data aktualizacji:</span> <span class="value">{{ weather.updateTime | date("d-m-Y H:i:s","Europe/Warsaw") }}</span></div>
                {% else %}
                    <div class="weather-error">Nie udało się pobrać aktualnej temperatury!</div>
            {% endif %}
                </div>

        </div>
    </div>
{% endblock %}

